/* box sizing details */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* main body with flex */
main {
  display: flex;
}

/* mainheading background colour and font */
.mainheading {
  background-color: #1d3557;
  padding: 50px;
}

/* pamela dubb heading styles */
.mainheading h2 {
  font-family: "Cinzel", serif;
  font-size: 30px;
  color: #f1faee;
  margin: 10px;
  margin-top: 10px;
  padding-top: 5px;
}
/* container details */
.container {
  width: 80%;
  margin: 0 auto;
  text-align: right;
}
/* nav heading styles and alignment */
.container a {
  float: right;
  color: #f1faee;
  text-align: right;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
}
/* container li details */
.container li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}

/* colour for when hovered over links */
.container A:hover {
  background-color: #f1faee;
  color: rgb(59, 58, 58);
}

.container a::before {
  display: block;
  height: 5px;
  width: 0%;
  background-color: #f1faee;
  content: "";
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

.container a:hover:before {
  width: 100%;
}

/* logo alignment on home page */
.pblogo {
  padding-top: 50px;
  text-align: center;
  display: block;
  background-size: cover;
}

/* styling for all h3 */
h3 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(75, 74, 74);
  text-align: center;
}

figcaption {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}

p {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/* iframe alignment */
iframe {
  align-self: center;
}

#pic {
  height: 370px;
  width: 300px;
}
/* icon size and alignment */
.fa {
  padding: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
/* icon style */
.fa-instagram,
.fa-github,
.fa-linkedin {
  color: #1d3557;
  display: flex;
  flex: 50%;
  text-align: center;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: darkgrey;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

footer {
  display: block;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  width: 100%;
  border-top: 1px solid white;
  text-align: center;
}
